{% extends "GsbFraisBundle::accueil.html.twig" %}
{% block fraisforfait %}
    <div class="col-lg-12 col-md-12">
        <h3 class="text-center">
            Fiche de frais de {{ prenomvisiteur }} {{ nomvisiteur }} du mois : {{nummois}}-{{numannee}}
        </h3>
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-1">                                           
                        <span class="fa fa-paperclip fa-5x"></span> 
                    </div>
                    <div class="col-lg-11">
                        <h3 class="text-left">
                            Frais Forfait
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#FraisForfait">Détails</a>
                            </h4>
                        </div>
                        <div id="FraisForfait" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table id="TableFraisForfait" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                                    <!--<table class="table table-bordered table-hover table-striped"> -->
                                    <form action="{{path('gsb_frais_gererfraisMajFraisForfait')}}" method="POST">
                                        <h3>Eléments forfaitisés d'un montant de : {{ montanttotal }} €</h3>
                                        <h5> Etat : {{ libetat }} depuis le {{ datemodif }}
                                            <br> Montant validé : {{ montantvalide }} €</h5>

                                        <thead>

                                            <tr>
                                                {% for unfrais in lesfraisforfait %}

                                                    {% set libelle = unfrais.libelle %}
                                                    {% set quantite = unfrais.quantite %}
                                                    <th>
                                                        {{libelle}}
                                                    </th> 
                                                {% endfor %}
                                                <th>
                                                </th> 
                                            </tr>

                                        </thead>                                
                                        <tbody> 
                                            {% for unfrais in lesfraisforfait %}
                                                {% set idfrais = unfrais.idfrais %}
                                                {% set quantite = unfrais.quantite %}
                                            <td><input type="text" class="form-control text-center" id="idFrais" name="lesFrais[{{idfrais}}]" size="10" maxlength="5" value="{{quantite}}" ></td>
                                            {% endfor %}
                                        <td class="text-center"><button type="submit"  id="ok" class="btn btn-primary">Modifier</button></td>
                                        </tbody>
                                    </form>
                                </table>
                            </div>
                        </div>
                    </div>   
                </div> 
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock fraisforfait %}

{% block fraishorsforfait %}
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-1">                                           
                        <span class="fa fa-paperclip fa-5x"></span> 
                    </div>
                    <div class="col-lg-11">
                        <h3 class="text-left">
                            Frais Hors forfait
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#FraisHF">Détails</a>
                            </h4>
                        </div>
                        <div id="FraisHF" class="panel-collapse collapse text-center">
                            <div class="panel-body">
                                <table id="TableFraisHF" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
                                    <!--<table class="table table-bordered table-hover table-striped"> -->
                                    <h3>Descriptif des éléments hors forfait - {{nbjustificatifs}} justificatifs reçus -
                                    </h3>
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Libellé</th>
                                            <th>Montant</th>
                                            <th>Etat</th> 
                                        </tr>
                                    </thead>                                
                                    <tbody id="lesFraisHF">                                                
                                        {% for unFrais in  lesfraishorsforfait %}
                                            {% set idfrais = unFrais.id %}
                                            {% set date = unFrais.date%}
                                            {% set libelle = unFrais.libelle%}
                                            {% set montant = unFrais.montant%}
                                            <tr>
                                                <td>{{date}}</td>
                                                <td name="lesFrais[{{idfrais}}]"> {{ unFrais.etat }}&nbsp;&nbsp;{{libelle}}</td>
                                        <td>{{montant}}</td>
                                        <td>
                                            <select class="form-control" id="choixEtat" name="choixEtat">

                                                <option value="at">En Attente</option>
                                                <option value="rf">Refusé</option>
                                                <option value="rp">Reporté</option>
                                                <option value="va">Validé</option>
                                            </select>
                                        </td>
                                        </tr>
                                    {% endfor %} 
                                    </tbody>
                                </table>
                                <a href="index.php?uc=suiviFrais&action=mettreEnPaiement&id=<?php echo $id;?>" 
                                   onclick="return confirm('Voulez-vous vraiment mettre en paiement cette fiche ?');">Mettre en Paiement</a>
                            </div>
                        </div>
                    </div>   
                </div> 
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock fraishorsforfait %}











